/* screen - frame-1 */

.frame-1 {
  height: 807.55px;
  opacity: 0;
  overflow-x: hidden;
  position: relative;
  transform: translate(-25px, 0);
  width: 100px;
}

.frame-1.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.frame-1 .news {
  height: 47px;
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  top: 42px;
  transform: rotate(-90deg);
  width: 94px;
}

.frame-1 .about {
  height: 35px;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 164px;
  transform: rotate(-90deg);
}

.frame-1 .calendar {
  height: 35px;
  left: -7px;
  letter-spacing: 0;
  position: absolute;
  top: 288px;
  transform: rotate(-90deg);
}

.frame-1 .ride-w-me {
  height: 35px;
  left: -20px;
  letter-spacing: 0;
  position: absolute;
  top: 446px;
  transform: rotate(-90deg);
  width: 141px;
}

.frame-1 .place {
  height: 35px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 596px;
  transform: rotate(-90deg);
}

.frame-1 .glyph-logo_-may2016-1 {
  height: 32px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 695px;
  width: 30px;
}

.frame-1 .f_logo_rgb-black_72-1 {
  height: 31px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 756px;
  width: 30px;
}
