/* screen - mobile-contact */

.mobile-contact {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 883px;
  min-width: 390px;
  overflow: hidden;
  width: 100%;
}

.mobile-contact .frame-7 {
  align-items: flex-end;
  background-color: var(--mist-gray);
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 1px;
  padding: 19px 20px;
  position: fixed;
  top: 0;
  width: 390px;
  z-index: 6;
}

.mobile-contact .name {
  letter-spacing: 2.88px;
  text-align: center;
}

.mobile-contact .frame-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.mobile-contact .rectangle-1 {
  background-color: var(--black);
  height: 2px;
  min-width: 30px;
}

.mobile-contact .place {
  height: 72px;
  letter-spacing: 12.00px;
  margin-top: 100.0px;
  text-align: center;
  width: 390px;
  z-index: 1;
}

.mobile-contact .bulls-61-2 {
  height: 186px;
  width: 390px;
  z-index: 5;
}

.mobile-contact .group-10 {
  align-items: flex-end;
  display: flex;
  height: 36.77px;
  margin-top: 24px;
  min-width: 392px;
  z-index: 2;
}

.mobile-contact .overlap-group {
  align-items: flex-start;
  background-color: var(--mist-gray);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  min-width: 390px;
  padding: 0 19.2px;
}

.mobile-contact .name-1 {
  background-color: transparent;
  border: 0;
  height: 36px;
  letter-spacing: 0;
  padding: 0;
  width: 351px;
}

.mobile-contact .name-1::placeholder {
  color: #ffffff99;
}

.mobile-contact .group-9 {
  align-items: flex-end;
  display: flex;
  height: 36.77px;
  margin-top: 16.2px;
  min-width: 392px;
  z-index: 3;
}

.mobile-contact .e-mail {
  background-color: transparent;
  border: 0;
  height: 36px;
  letter-spacing: 0;
  padding: 0;
  width: 351px;
}

.mobile-contact .e-mail::placeholder {
  color: #ffffff99;
}

.mobile-contact .group-8 {
  align-items: flex-start;
  display: flex;
  margin-top: 16.2px;
  min-width: 392px;
  z-index: 4;
}

.mobile-contact .overlap-group2 {
  align-items: flex-end;
  background-color: var(--mist-gray);
  display: flex;
  height: 265px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 0 19px;
}

.mobile-contact .message {
  background-color: transparent;
  border: 0;
  height: 247px;
  letter-spacing: 0;
  margin-bottom: -0.4px;
  padding: 0;
  width: 351px;
}

.mobile-contact .message::placeholder {
  color: #ffffff99;
}
