/* screen - mobile-about */

.mobile-about {
  background-color: var(--white);
  height: 947px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.mobile-about .singer_team_jan_2021-01843-2 {
  height: 239px;
  left: 0;
  position: absolute;
  top: 496px;
  width: 390px;
}

.mobile-about .mg-5897-33786-o-kopie-2 {
  height: 323px;
  left: 0;
  position: absolute;
  top: 173px;
  width: 390px;
}

.mobile-about .about {
  height: 72px;
  left: 0;
  letter-spacing: 12.00px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 390px;
}

.mobile-about .frame-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 271px;
  justify-content: center;
  left: 14px;
  padding: 10px;
  position: absolute;
  top: 252px;
  width: min-content;
}

.mobile-about .lorem-ipsum-dolor-si {
  letter-spacing: 0;
  width: 119px;
}

.mobile-about .frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 735px;
  width: 390px;
}

.mobile-about .lorem-ipsum-dolor-si-1 {
  letter-spacing: 1.40px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -1px;
  text-align: center;
  width: 380px;
}

.mobile-about .frame-5-1 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 529px;
  padding: 19px 165px;
  position: absolute;
  top: 0;
  width: min-content;
}

.mobile-about .menu {
  letter-spacing: 2.88px;
  margin-top: -1px;
  text-align: center;
}

.mobile-about .frame-7 {
  align-items: flex-end;
  background-color: var(--mist-gray);
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 19px 20px;
  position: fixed;
  top: 0;
  width: 390px;
}

.mobile-about .name {
  letter-spacing: 2.88px;
  text-align: center;
}

.mobile-about .frame-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.mobile-about .rectangle-1 {
  background-color: var(--black);
  height: 2px;
  min-width: 30px;
}
