/* screen - mobile-palmares */

.mobile-palmares {
  background-color: var(--white);
  height: 883px;
  position: relative;
  width: 390px;
}

.mobile-palmares .overlap-group {
  height: 315px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 390px;
}

.mobile-palmares .a1d47307-2c01-43b5-a354-8e141115a4f8-2 {
  height: 252px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 390px;
}

.mobile-palmares .place {
  height: 72px;
  left: 0;
  letter-spacing: 12.00px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 390px;
}

.mobile-palmares .frame-4 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  gap: 10px;
  height: 270px;
  justify-content: center;
  left: 0;
  padding: 10px 0px;
  position: absolute;
  top: 404px;
  width: 390px;
}

.mobile-palmares .bulls-70-2 {
  height: 270px;
  margin-bottom: -10px;
  margin-top: -10px;
  min-width: 250px;
}

.mobile-palmares .platz-hengen-platz-a {
  height: 268px;
  letter-spacing: 0;
  margin-bottom: -8px;
  margin-top: -10px;
  width: 130px;
}

.mobile-palmares .frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 0;
  padding: 20px 10px;
  position: absolute;
  top: 674px;
  width: 390px;
}

.mobile-palmares .lorem-ipsum-dolor-si {
  letter-spacing: 1.40px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -1px;
  text-align: center;
  width: 380px;
}

.mobile-palmares .frame-9 {
  align-items: flex-end;
  background-color: var(--mist-gray);
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 19px 20px;
  position: fixed;
  top: 0;
  width: 390px;
}

.mobile-palmares .name {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 2.88px;
  text-align: center;
}

.mobile-palmares .frame-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.mobile-palmares .rectangle-1 {
  background-color: var(--white);
  height: 2px;
  min-width: 30px;
}
