:root { 
  --alto: #d9d9d9;
  --azure-radiance: #0693f1;
  --black: #000000;
  --mist-gray: #c4c4c4;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 35px;
  --font-size-xxxxl: 40px;
  --font-size-xxxxxl: 200px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-light-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.roboto-light-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.roboto-light-black-35px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.roboto-light-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.roboto-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-white-40px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 300;
}

.roboto-light-azure-radiance-35px {
  color: var(--azure-radiance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.roboto-normal-mist-gray-40px {
  color: var(--mist-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-azure-radiance-14px {
  color: var(--azure-radiance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.roboto-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}
